.content {
	color: #252934;
}

.content .pg-title {
	-webkit-text-fill-color: transparent;
	background: linear-gradient(87.54deg, #9867f0 9.2%, #f92393 77.14%);
	-webkit-background-clip: text;
	background-clip: text;
}

.main-section {
	position: relative;
	padding: 5em 1em;
}

.main-section::after {
	background: #dadfe9;
	bottom: 0;
	content: "";
	display: block;
	left: 50%;
	position: absolute;
	top: 0;
	width: 2px;
	z-index: -1;
}

.step-details .card.light-bg {
	/* background-color: #fff; */
	color: #252934;
	/* background: linear-gradient(143deg, #ffffff 55%, #a400ff3d 90%); */
}

.step-details .card.tinted-bg {
	background-color: #e8edf1;
	color: #252934;
}

.step-details .card.dark-bg {
	background-color: #252934;
	color: white;
	background-image: linear-gradient(320deg, #271f7d -36%, #252934 36%);
}

.main-section .card::after {
	bottom: 0;
	content: "";
	display: block;
	left: 50%;
	position: absolute;
	top: 0;
	width: 2px;
	z-index: 0;
}

.main-section .card.dark-bg::after {
	background: #42526d;
}

.main-section .card.light-bg::after {
	background: #dadfe9;
}

.step-details {
	/* margin: 5em 3em; */
	position: relative;
	display: flex;
	align-items: center;
}

.step-details .card {
	min-height: 50vh;
	border-radius: 1rem;
	padding: 5em;
	font-size: 1.3em;
	/* box-shadow: -1px 3px 16px 0px #888888; */
	border-width: 0px;
}

.step-details .card.dark-bg h2,
.step-details .card.dark-bg .step-title span {
	color: #04c2c9;
	border: 1px solid #04c2c9;
	/* -webkit-text-fill-color: transparent;
	background: /* linear-gradient(125deg, #f72585 42%, #04c2c9 61.2%); **
	linear-gradient(125deg, #f72585 34%, #04c2c9 87.2%);
	-webkit-background-clip: text;
	background-clip: text; */
}

.step-details .card.light-bg h2,
.step-details .card.light-bg span {
	color: #f72585;
	border: 1px solid #f72585;
	/* -webkit-text-fill-color: transparent;
	background: linear-gradient(87.54deg, #9867f0 39.2%, #ed4e50 57.14%);
	-webkit-background-clip: text;
	background-clip: text; */
}

.dark-bg .step-title {
	z-index: 3;
	position: relative;
	background-color: #252934;
}

.light-bg .step-title {
	z-index: 3;
	position: relative;
	background-color: #fff;
}

.step-details .main-row {
	align-items: center;
	justify-content: space-between;
}

.step-details .light-bg .main-row {
	flex-direction: row-reverse;
}

.step-bullet {
	position: relative;
	z-index: 3;
}

.step-bullet span {
	font-size: 1.3em;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: #fff;
	display: flex;
	color: #252934;
	text-decoration: none;
	justify-content: center;
	align-items: center;
}

/* videoes */
.step-video {
	width: 100%;
	z-index: 3;
	position: relative;
	/* box-shadow: rgba(175, 175, 175, 0.25) 0px 54px 55px, rgba(175,175, 175, 0.12) 0px -12px 30px, rgba(175,175, 175, 0.12) 0px 4px 6px, rgba(175,175, 175, 0.17) 0px 12px 13px, rgba(175,175, 175, 0.09) 0px -3px 5px; */
	/* box-shadow: 0 1px 2px rgba(175, 175, 175, 0.09),
		0 2px 4px rgba(175, 175, 175, 0.09),
		0 4px 8px rgba(175, 175, 175, 0.09),
		0 8px 16px rgba(175, 175, 175, 0.09),
		0 16px 32px rgba(175, 175, 175, 0.09),
		0 32px 64px rgba(175, 175, 175, 0.09); */
	/* box-shadow: #271f7d40 0px 0px 20px 20px, #271f7d40 0px 3px 6px; */
	border-radius: 0.3rem;
}

.dark-bg .step-video {
	box-shadow: 0 0 0 1px hsla(0, 0%, 100%, .1), 0 2px 2px rgba(0, 0, 0, .027), 0 4px 4px rgba(0, 0, 0, .04), 0 10px 8px rgba(0, 0, 0, .05), 0 15px 15px rgba(0, 0, 0, .06), 0 30px 30px rgba(0, 0, 0, .071), 0 70px 65px rgba(0, 0, 0, .09) !important;
}

.light-bg .step-video {
	box-shadow: 0 0 0 1px rgba(53, 72, 91, .1), 0 2px 2px rgba(0, 0, 0, .027), 0 4px 4px rgba(0, 0, 0, .04), 0 10px 8px rgba(0, 0, 0, .05), 0 15px 15px rgba(0, 0, 0, .06), 0 30px 30px rgba(0, 0, 0, .071), 0 70px 65px rgba(0, 0, 0, .09) !important;
}

.step-details .completion-bg {
	/* background-color: #271f7d; */
	color: #252934;
}

/* slide animations */
.left-slide,
.right-slide {
	visibility: hidden;
}

@keyframes slideFromLeft {
	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
	}

	0% {
		-webkit-transform: translate3d(25%, 0, 0);
		transform: translate3d(25%, 0, 0);
	}
}


@keyframes slideFromRight {
	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
	}

	0% {
		-webkit-transform: translate3d(-25%, 0, 0);
		transform: translate3d(-25%, 0, 0);
	}
}

@keyframes slideFromBottom {
	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
	}

	0% {
		-webkit-transform: translate3d(0, 25%, 0);
		transform: translate3d(0, 25%, 0);
	}
}

.go-right {
	animation: slideFromLeft 1.2s cubic-bezier(.16, 1, .3, 1) forwards;
	visibility: visible;
}

.go-left {
	animation: slideFromRight 1.2s cubic-bezier(.16, 1, .3, 1) forwards;
	visibility: visible;
}

.from-down {
	animation: slideFromBottom 1.2s cubic-bezier(.16, 1, .3, 1) forwards;
	visibility: visible;
}

.dark-bg .inner-content {
	opacity: 0;
	transform: translateX(-15px);
}

.light-bg .inner-content {
	opacity: 0;
	transform: translateX(15px);
}

.text-anim.inner-content {
	animation-delay: 0.3s;
	transition: opacity 1.2s cubic-bezier(.16, 1, .3, 1), transform 1.2s cubic-bezier(.16, 1, .3, 1);
	transform: translateX(0px);
	opacity: 1;
}



/* responsive */
@media (max-width: 767px) {
	.step-details .card {
		padding: 3em 0;
	}
	
	.step-details .inner-content {
		z-index: 3;
		position: relative;
	}

	.step-details .light-bg .inner-content {
		background-color: #fff;
		z-index: 2;
	}

	.step-details .dark-bg .inner-content {
		background-color: #252934f1;
	}
}

@media (max-width: 992px) {
	.main-section {
		padding: 5em 0;
	}

	.step-details .card {
		width: 100%;
	}	
}