---
---

@import "{{ site.theme }}";
// $font-size-body-px: 70;
// $line-height-px: 21;
html{
 font-size: 100px !important;
}

#auto-dl{
  text-align: center;
}

#develop-deep-learning--models-without-a-single-line-of-code{
  text-align: center;
}
