---
---

@import "{{ site.theme }}";
$font-size-body-px: 70;
$line-height-px: 21;

#auto-dl{
  text-align: center;
}

#develop-deep-learning--models-without-a-single-line-of-code{
  text-align: center;
}
