/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;600&family=Raleway:wght@300;400;700&family=Rubik:wght@300;400;600&display=swap');
/* 
auto-DL heading ------font-family: 'El Messiri', sans-serif;
normal content ------ font-family: 'Raleway', sans-serif;
nav headings ---------font-family: 'Rubik', sans-serif; 
*/

body {
	overflow: overlay;
	font-family: 'Raleway', sans-serif;
}

/* ::selection {
	background-color: #001c55;
	color: #fff;
} */

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background: #0a09034b;
	border-radius: 2em;
}

::-webkit-scrollbar-track {
	background: transparent;
	/* margin: 10px 0; */
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}
.App {
	text-align: center;
}

.App-logo {
	height: 10vmin;
	pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
} */

.App-header {
	/* background-color: #2B82D5; */
	background-color: #012A4A;
	/* background: url('https://images.unsplash.com/photo-1527474305487-b87b222841cc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1934&q=80'); */
	/* background: url('https://images.unsplash.com/photo-1504639725590-34d0984388bd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80'); */
	/* background: url('https://images.unsplash.com/photo-1531215244697-089c35892b94?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1173&q=80'); */

	background-position: center center;
    background-size: cover;

	height: 89.75px;
	font-size: calc(10px + 2vmin);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.App-header .head-bg {
	position: absolute;
	align-self: center;
	opacity: 0.2;
	height: 100%;
	width: 100%;
	display: flex;
    align-items: center;
    justify-content: center;
	background-color: #0076b6;
}

.App-link {
	color: #61dafb;
}

.App-header .header-content {
	z-index: 10;
	align-self: center;
}

/* .App-header .brand img{
	filter: invert(100%) sepia(0%) saturate(7498%) hue-rotate(260deg) brightness(101%) contrast(101%);
} */